@font-face {  font-family: 'Menlo';  font-weight: 400;  font-style: normal;  font-display: swap; /* Read next point */  unicode-range: U+000-5FF; /* Download only latin glyphs */  src: local('Menlo'), url('menlo-regular-webfont.woff2') format('woff2');}

html {
    height: 100vh;
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-left: 17%;
    margin: 0 0 3px 0;
    font-family: Menlo, Helvetica;
    font-size: 20px;
    text-shadow: 0px 0px 3.5px rgba(0, 0, 58, 0.712);
}

h1 a {
    text-decoration: none;
    color: black;
}

#link {
    display:none;
}

#container {
    margin-top: 18vh;
}

#box {
    height: 360px;
    width: 360px;
    background: #000;
    box-shadow: 0px 0px 3.5px 2px rgba(0, 0, 58, 0.445);
}

@media screen and (max-width:700px) {
    #box {
        height: 65vw;
        width: 65vw;
        background: #000;
    }
    
      h1 {
        font-size: 12px;
    }
}
}
